.home-page-container {
    margin: 40px 10px;
}

.bookcard-container {
    margin-top: 50px;
}

.form-input {
    background-color: #D1D7DB;
}

.main-home-button {
    background-color: #202c59 !important;
    margin: 20px 0 !important
}

.clear-button {
    background-color: #931F1D !important;
    color: #fff !important;
}

.home-text {
    padding: 10px;
    color: #202c59
}

.welcome {
    color: #202c59;
    margin-bottom: 30px !important;
}

.login-signup-text {
    margin: 20px 0 !important;
    color: #202c59

}