.nav-bar {
    background-color: #202c59 !important;
}

.golden-font {
    color: #E6BE60;
}
.nav-brand {
    border-top: 2px solid #931F1D;
    border-bottom: 2px solid #931F1D;
    padding: 5px 10px;
}

.search-button {
    background-color: #931F1D !important;
    margin-right: 30px;
    color: white !important;
    margin: 5px !important;
    border: 1px solid #98a4ae !important;
}

.nav-buttons {
    margin: 5px !important;
    background-color: #E6BE60 !important;
}

.fav-icon-nav {
    margin: 0px 3px;
    color: #931F1D;
}

.log-out-button {}