.nav-bar {
    background-color: #202c59 !important;
}

.golden-font {
    color: #E6BE60;
}
.nav-brand {
    border: 2px solid #786452;
    border-radius: 5px;
    padding: 5px;
}

.search-button {
    color: #FFF;
    margin-right: 30px;
}

.nav-buttons {
    margin: 5px !important;
    background-color: #E6BE60 !important;
}

.fav-icon-nav {
    margin: 3px;
}

.log-out-button {}