.book-card {
    width: 250px;
    margin: 5px;
    background-color: #98A4AE !important;
}

.card-content {
   height: 150px; 
   overflow: hidden;
}

.thumbnail-image {
    max-width: 200px;
    height: 300px;
    margin: auto;
    padding-top: 3px;
}

.book-card-title {
    color: #202c59;
    font-size: 15px !important;
}

.book-card-authors {
    color: #931F1D; 
}

.info-icon {
    color: #202c59;
    margin: 5px;
}