.read-unread-text {
    padding: 20px 0;
    color: #202c59;
 }

.heading-mybooks {
    margin: 20px 0 !important;
    color: #931F1D;
}

#demo-simple-select-helper {
    width: 100% !important;
    margin: auto !important;
    align-items: 'center' !important;
    justify-content: 'center' !important;
}

.filter-form {
    align-items: center !important;
    margin: 0 auto !important;
    display: flex !important; 
}

.MuiSelect-selectMenu {
    width: 100% !important;
}

.MuiInputBase-input {
    width: 100% !important;
}